/*VARIABLES*/
:root {
  --primary-font: "Rubik", sans-serif;
  --primary-color: #3cdbc0;
  --secondary-color: #4a4a4a;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*HEADER*/

.header {
}

.logo-container {
}

.img-logo .menu {
}

/*MAIN*/
.main {
}

.title {
}
